<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Products</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
</head>
<body>
<h1>Manage Products</h1>
<nav>
    <a th:href="@{/api/dashboard}">Home</a>
    <a th:href="@{/api/admin/products/add}">Add New Product</a>

</nav>

<h2>Product List</h2>
<table border="2">
    <thead>
    <tr>
<!--        <th>ID</th>-->
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Image Id</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
<!--        <td th:text="${product.id}">ID</td>-->
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.description}">Description</td>
        <td th:text="${product.price}">Price</td>
        <td th:text="${product.stock}">Stock</td>
        <td th:text="${product.imageId}">Stock</td>
        <td>
            <form th:action="@{/api/admin/products/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${product.id}" />
                <button type="submit">Delete</button> |
            </form>
            <a th:href="@{/api/admin/products/update/{id}(id=${product.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>